server {
    listen ${PORT};
    server_name _;

    root /var/www/backend/public;
    index index.php index.html;

    location / {
        try_files $uri /index.php$is_args$args;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass ${PHP_FPM_HOST}:${PHP_FPM_PORT};
    }
}